/*
colors{
rgb(176, 46, 159)
rgb(240, 177, 232)
}
fonts{
    font-family: 'Montserrat', sans-serif;

    font-family: 'Noto Sans JP', sans-serif;
}
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgb(203, 231, 255);
}
hr {
  color: rgb(4, 129, 160);
}
table,
td,
tr {
  border: 1px solid rgb(4, 129, 160);
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
td {
  color: rgb(2, 83, 104);
  font-weight: 900;
}
img {
  padding: 5px;
  border: 2px solid rgb(4, 129, 160);
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(2, 83, 104);
  font-weight: 900;
}
h1 {
  color: rgb(4, 129, 160);
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
}
ul {
  color: rgb(3, 101, 126);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0px 40px 0px 0px;
}
#about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about-image {
  margin: 20px 100px 20px 5px;
}

#about-paragraph {
  text-align: justify;
}

#about-title {
  text-align: center;
}

#about-text-container {
  margin: 0px 100px 0px 0px;
}
.image-container-images {
  height: 200px;
  width: 60%;
  margin: 0px 30px 0px 0px;
}
#image-container {
  margin: 30px 20px 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#image-container-header {
  text-align: center;
}
#our-clients-header {
  text-align: center;
}
#our-clients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}
#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}
#package-header {
  text-align: center;
}
#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact-container-info {
  width: 400px;
  margin: 0px 0px 0px 30px;
  background-color: rgb(4, 129, 160);
  color: white;
  padding: 20px;
  transform: scale(0.7, 0.7);
}

#contact-image {
  height: 210px;
  width: 25%;
  margin: 0px 30px 0px 0px;
}

#fname,
#lname,
#subject,
#message {
  width: 350px;
  margin: 0px 0px 10px 0px;
  border: 2px solid rgb(102, 248, 241);
  border-radius: 8px;
}
.label {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.contact-button {
  height: 35px;
  width: 90px;
  margin-right: 20px;
  border: 2px solid rgb(102, 248, 241);
  border-radius: 8px;
}
.contact-button:hover {
  background-color: rgb(4, 129, 160);
  color: white;
}
#contact-header {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.topnav {
  background-color: rgb(29, 142, 170);
  overflow: hidden;
}

.topnav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(175, 215, 250);
  color: black;
}

.topnav a.active {
  background-color: rgb(1, 101, 126);
  color: white;
}
#logo-image-top {
  border: none;
  height: 35px;
  width: 48px;
  position: absolute;
  right: 0;
  margin-right: 30px;
}
#logo-image-bottom {
  border: none;
  height: 35px;
  width: 48px;
}
.botnav {
  background-color: rgb(29, 142, 170);
  overflow: hidden;
}

.botnav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  background-color: rgb(175, 215, 250);
  color: black;
}

.botnav a.active {
  background-color: rgb(1, 101, 126);
  color: white;
}
